Flask==1.1.2
sendgrid==6.9.7
gunicorn==20.1.0
altgraph==0.17
jinja2==3.0.1
werkzeug==2.0.1
urllib3==1.26.6
tk==0.1.0
requests==2.25.1
python-dotenv==0.18.0
pyinstaller-hooks-contrib==2022.2
pyinstaller==4.4
appdirs==1.4.4
hjson==3.0.2