<div id="about" class="hero back-photo-about">
  <div class="hero-content">
    <div class="padded">
      <h1>About me</h1>
      <p>
        I consider myself an outgoing, optimistic and adventurous person. My
        actually hobbies are traveling, studying programming mainly in python,
        photography, play Padel-tenis and cycling. I studied gastronomy and
        afterwards I started to travel, I have traveled to 36 countries around
        the world and I have worked in 5 of them. Since 2017 I've lived in
        Germany and have worked in gastronomy and in a renewable energy company.
      </p>
      <p>Parallel to my professional life, I have always been interested in
        technology and have always tried to keep myself updated. Some time ago I
        realized that I needed to turn my professional career around, that's why
        I started studying Python as a programming language, Tkinter as a
        library Flask, HTML, CSS and SQL for Database. And now I'm at Ironhack's web development bootcamp at Berlin.
        where I'm learning HTML5, CSS3, Java
        Script, ReactJS, MongoDB, NodeJS, ExpressJS and Git.
      </p>
      <p>I have more than 10 years
        of work experience working in various settings and performing various
        functions, especially in the gastronomic area, performing organizational
        tasks, teamwork, task optimization and management, advice and service in
        private and public events. I am a sociable person, I like to work in a
        team, I am committed and always willing to learn and improve.
      </p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='fall.jpg') }}" width="600px" />
    </div>
  </div>
</div>