{% extends 'base.html' %}
{% block title %}

Pablo Cigoy

{% endblock %}


{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>I'm a Junior Developer</h1>
            <p>Learning Java Script, ReactJS, MongoDB, NodeJS, ExpressJS, Git </p>
            <p>Build dynamic Python apps, Flask, HTML5 and CSS3. </p>
            <a href='#contact' class="btn">Contact</a>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='dog.jpg') }}" width="720" />
        </div>
    </div>
</div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/aboutme-section.html' %}
{% include 'portfolio/photos-section.html' %}
{% include 'portfolio/section-third.html' %}
{% endblock %}