<div class="shadow white-bg">
    <div class="hero">
        <div class="block-first">
            <h1>I'm a Junior developer.</h1>
            <p>Learning Java Script, ReactJS, MongoDB, NodeJS, ExpressJS, HTML, CSS Github and Git. </p>
            <p>Build dynamic Python apps, Flask, HTML5 and CSS3. </p>
            <a href='#contact' class="btn shadow">Contact</a>
        </div>
        <div class="right">
            <img class="photo_my" src="{{ url_for('static', filename='scout.jpg') }}" />
        </div>
    </div>
</div>