<div id=photos class="hero">
    <div class="center">
        <div class="PhotoSectionContent">
            <h1>Some photos of my travels</h1>
            <p> One of my hobbies is photography
                and I'd like to share some of the pictures I took on my travels.</p>
        </div>
        <!-- original<div class="hero-content"-->
        <div class="photo">
            <div class="photo">
                <img src="{{ url_for('static', filename='1.jpg') }}" width=950px />
                <p>Mayan typical dancer on Playa del carmen, Mexico - 2012</p>
                <img src="{{ url_for('static', filename='4.jpg') }}" width=950px />
                <p>A woman at the door of a church in Cusco, Peru - 2010</p>
                <img src="{{ url_for('static', filename='5.jpg') }}" width=950px />
                <p>A man who only spoke Quechua (a native language from the Andes mountains) in Bolivia - 2015</p>
                <img src="{{ url_for('static', filename='14.jpg') }}" width=950px />
                <p>A woman on the street in Cusco, Peru</p>
                <img src="{{ url_for('static', filename='13.jpg') }}" width=950px />
                <p> Bolivian morenadas dancers in Puno, Peru - 2008</p>
                <img src="{{ url_for('static', filename='2.jpg') }}" width=950px />
                <p>A turtle being born on the caribbean beach, Mexico - 2013 </p>
                <img src="{{ url_for('static', filename='3.jpg') }}" width=950px />
                <p>Fisherman finishing his job in Belize - 2014</p>
                <img src="{{ url_for('static', filename='8.jpg') }}" width=950px />
                <p>macaw in San Pedro Sula, Honduras - 2014</p>
                <img src="{{ url_for('static', filename='9.jpg') }}" width=950px />
                <P>Amish community in Belize - 2014</P>
                <img src="{{ url_for('static', filename='10.jpg') }}" width=950px />
                <p>Garifunas Playing music on the street in El Salvador - 2014</p>
                <img src="{{ url_for('static', filename='11.jpg') }}" width=950px />
                <P>salt mats for the procession in Guatemala - 2012</P>
            </div>
        </div>
    </div>
</div>