<div id=photos class="hero">
    <div class="center">
        <div class="right">
            <h1>Some of my photos</h1>
            <p> One of my hobbies are the photography 
                and i'd like to share some of my pictures what I took on my travels.</p>
        </div>
        <!-- original<div class="hero-content"-->
        <div class="hero-content">
            <div class="left">
                <img src="{{ url_for('static', filename='1.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='2.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='3.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='4.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='5.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='6.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='8.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='9.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='10.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='11.jpg') }}" width=860px />
                <img src="{{ url_for('static', filename='12.jpg') }}" width=860px />
            </div>
        </div>    
    </div>
</div>