<div id=photos class=" shadow white-bg">
    <div class="PhotoSectionContent">
        <h1>Some photos of my travels</h1>
        <p> One of my hobbies is photography
            and I'd like to share some of the pictures I took on my travels.</p>
    </div>
    <div class="container-box">
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='1.jpg') }}" width=400px />
            <p>Mayan dancer Cancun, Mexico - 2012</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='4.jpg') }}" width=400px />
            <p>A woman on the street in Cusco, Peru - 2010</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='5.jpg') }}" width=400px />
            <p>A man who only spoke Quechua in Bolivia - 2015</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='14.jpg') }}" width=400px />
            <p>A woman on the street in Cusco, Peru</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='13.jpg') }}" width=400px />
            <p> Bolivian morenadas dancers in Puno, Peru - 2008</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='3.jpg') }}" width=400px />
            <p>Fisherman finishing his job in Belize - 2014</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='8.jpg') }}" width=400px />
            <p>macaw in San Pedro Sula, Honduras - 2014</p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='9.jpg') }}" width=400px />
            <P>Amish community in Belize - 2014</P>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='2.jpg') }}" width=400px />
            <p>A turtle being born on the caribbean, Mexico - 2013 </p>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='maria.jpg') }}" width=400px />
            <P>Girl playing in the street - Bolivia 2010</P>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='11.jpg') }}" width=400px />
            <P>salt mats for the procession in Guatemala - 2012</P>
        </div>
        <div>
            <img class="radius shadow" src="{{ url_for('static', filename='pico.jpg') }}" width=400px />
            <P>A photogenic bird - Germany 2012</P>
        </div>

    </div>
</div>