<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>More about my projects: </h1>
        </div>
        <div class='row'>
            <div class="card third">
                <h3>Web Page</h3>
                <p>You can see here how I build this web page</p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/WebPage.git">Link here</a>
            </div>
            <div class="card third">
                <h3>Todo List</h3>
                <p>An app to manage my tasks </p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/Checklist-with-Database.git">Link here</a>
            </div>
            <div class="card third">
                <h3>Sourdough Calculator</h3>
                <p>An app to calculate the humidity and proportion of ingredients</p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/MasaMadre.git">Link here</a>
            </div>
        </div>
    </div>
</div>