
<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Self-taught learner of python and all its uses </h1>
                <p>I constantly find myself
                     learning new technologies and developing applications.
                    I'm learning actually Python as a programming language,
                     Tkinter as a library, Flask, HTML, CSS and SQL. </p>
            </div>
            <div class="right padded">
                <h1>I am open to new ideas</h1>
                <p>Send me an email <a class=brawn href='#contact'>
                click here</a></p>
            </div> 
        </div>    
    </div>
</div>