<div class="center">
    <div class="content">
        <div>
            <div class="padded">
                <h1>Student at Ironhack Web development </h1>
                <p>I constantly find myself
                    learning new technologies and developing applications.
                    I'm doing the Web development bootcamp in Ironhack, Berlin. where I'm learning HTML5, CSS3, Java
                    Script, ReactJS, MongoDB, NodeJS, ExpressJS and Git.
                </p>
                <p>Last year I took a curse of Python as a
                    programming language,
                    Tkinter as a library, Flask, HTML, CSS and SQL.</p>
            </div>
            <div class="padded">
                <h1>I am open to new ideas</h1>
                <p>Send me a message <a class=brawn href='#contact'>
                        click here</a></p>
            </div>
        </div>
    </div>
</div>