<div class="center white-bg">
    <div class="padded2">
        <div class="padded2">
            <h1>More about my projects in Python </h1>
        </div>
        <div class="rowTitle">
            <div class="card third">
                <h3>Web Page</h3>
                <p>In the link you can see the infrastructure of this web Page (on Github)</p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/WebPage.git">Link here</a>
            </div>
            <div class="card third">
                <h3>Sourdough Calculator</h3>
                <p>An application to calculate the proportion of ingredients
                    depending on the requested percentage of humidity (on Github)</p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/MasaMadre.git">Link here</a>
            </div>

            <div class="card third">
                <h3>Todo List</h3>
                <p>An app to manage my tasks (on Github) </p>
                <a class="brown" target='_blank' href="https://github.com/Pablo-Mdz/Checklist-with-Database.git">Link
                    here</a>
            </div>
        </div>
    </div>
</div>