<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>More about my projects: </h1>
        </div>
        <div class='row'>
            <div class="card third">
                <h3>Sourdough Calculator</h3>
                <p>An app to calculate the humidity and proportion of ingredients</p>
                <a class="brown" target= "_blank" href=" {{ url_for('static' , filename= 'SourdoughCalculator') }}" >Link here</a>
            </div>
            <div class="card third">
                <h3>Todo List</h3>
                <p>An app to manage my tasks </p>
                <a class="brown" href=" {{ url_for('static' , filename= 'db') }}">Link here</a>
            </div>
            <div class="card third">
                <h3>Save Contacts in cards</h3>
                <p>UAn app where you can use CRUD to save contacts</p>
                <a class="brown" href=" {{ url_for('static' , filename= 'TarjetasEnTextos') }}">Link here</a>
            </div>
        </div>
    </div>
</div>